:root {
  --colors-backgrounds-primary: rgba(255, 255, 255, 1);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-colors-mode="light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-colors-mode="light"] {
  --colors-backgrounds-primary: rgba(255, 255, 255, 1);
}

[data-colors-mode="dark"] {
  --colors-backgrounds-primary: rgba(0, 0, 0, 1);
}

[data-colors-mode="IC-light"] {
  --colors-backgrounds-primary: rgba(255, 255, 255, 1);
}

[data-colors-mode="IC-dark"] {
  --colors-backgrounds-primary: rgba(0, 0, 0, 1);
}